<!DOCTYPE html>
<html>
<head>
  <title>Shorty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>

  <div id="logo">unpretentio.us</div>

  <div class="login">
    <% if current_user %> 
      <%= link_to "Log Out", logout_path, method: :delete%> 
      <%= link_to "Account", user_path(current_user) %>
    <% else %>
      <%= link_to "Login", login_path %> 
      <%= link_to "Sign Up", signup_path %>
    <% end %>
  </div>
</header>

<%= yield %>

</body>
</html>
